:root {
  --hex-base: #000000;
  --rainbow-color: var(--hex-base);
  --text-color: #ffffff;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdfdfdc;
  font-family: 'Dekko';
}

#title {
  font-weight: 900;
  align-self: center;
  height: 7.5vh;
  margin: 4.5vh 0 2.5vh;
}

#title h1 {
  margin: 0;
  font-size: 6.5vh;
  color: var(--hex-base);
  text-shadow: 1px 1px 1px #000000, -1px -1px 1px var(--hex-base);
}

#drawing-grid-container, #user-settings {
  border: 2px solid var(--hex-base);
  box-shadow: 0 0 12px var(--hex-base);
  border-radius: 4px;
  overflow: hidden;
}

/* GRID SETTINGS */ 
#drawing-grid-container {
  display: inline-grid;
  width: 100%;
  height: 100%;
}

.container-holder {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 95%;
  min-height: 200px;
  aspect-ratio: 1/1;
}

.grid-size p, .color-setting p, .eraser p, .rainbow-setting p, .draw-mode p,
.background-setting p
{
  margin: 0 0 5px;
  text-align: center;

  font-size: 1.5vw;
}

.checkbox {
  margin: 0 0 2px;
}
/* GRID SETTINGS */ 

.content {
  flex: 1 1 700px;
  width: 60%;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle::after {
  content: '';
  flex-grow: 1;
  align-self: center;
}

.left-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  align-self: center;
}

.middle {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 75vw;
  min-width: 500px;
  margin: 10px 30px 30px;
}

.left-user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: .1vw solid var(--hex-base);
  box-shadow: 0 0 3px var(--hex-base);
  border-radius: 4px;
  background-color: white;
  height: 32vh;
  max-width: 6.5vw;
  min-height: 75px;
  padding: .5em;
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 700px;
  flex: 1;
}

.bottom-user-settings {
  display: flex;
  border: 2px solid var(--hex-base);
  box-shadow: 0 0 3px var(--hex-base);
  border-radius: 4px;
  width: 50vw;
  min-width: 400px;
  min-height: 50px;
  background-color: white;
  padding: .5em;
  font-size: 1.5vw;
}

.grid-size, .color-setting, .eraser, .rainbow-setting, .draw-mode,
.background-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
}


/* slider */
.grid-slider {
  appearance: none;
  background: rgb(209, 209, 209);
  opacity: 0.7;
  transition: opacity .2s, transform .2s;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px var(--hex-base);
  height: 2.5vh;
  width: 10vw;
}

.grid-slider:hover {
  opacity: .85;
  transform: scale(1.1);
}

.grid-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--hex-base);
  cursor: pointer;
  height: 2.5vh;
  width: 2.5vh;
}
/* slider */

/* color picker */
input[type="color"] {
  appearance: none;
  background: rgba(209, 209, 209, 0.932);
  text-align: center;
  border: .2vh solid rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  width: 6.5vh;
  height: 6.5vh;
  padding: 0;
  transition: transform .2s;
  box-shadow: 1px 1px 3px var(--hex-base);
  border-radius: 1vw;
}

input[type="color"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  width: 3vw;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 2vw;
  border: .3vh solid rgba(0, 0, 0, 0.5);
}
/* color picker */

/* checkbox */
.checkbox {
  display: block;
  height: 20px;
  width: 20px;
  background: var(--hex-base);
  opacity: .3;
  border-radius: .3vw;
  border: .01vw solid black;
  transition: transform .25s, background-color .25s;
  box-shadow: 1px 1px 3px var(--hex-base);

  width: 2.5vh;
  height: 2.5vh;
}

.checkbox:hover {
  opacity: .4;
  cursor: pointer;
}

.checkbox.pressing {
  opacity: .6;
  transform: scale(1.1);
}

.checkbox.active {
  opacity: .8;
  transform: scale(1.2);
}
/* checkbox */
.rainbow-setting .checkbox {
  background: var(--rainbow-color);
  box-shadow: 1px 1px 3px var(--rainbow-color);
}

/* clear button */
.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.clear-button {
  background-color: var(--hex-base);
  color: var(--text-color);
  padding: 1vh 2vw;
  border-radius: .25vw;
  box-shadow: 1px 1px 3px var(--hex-base);
  transition: transform .2s ease;
  user-select: none;
}

.clear-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.clear-button:active {
  transform: scale(1.15);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 14px;
  max-height: 40px;
  min-height: 7.5vh;
  flex-grow: 1;
  background-color: var(--hex-base);
  opacity: .8;
  color: var(--text-color);
}

.footer p {
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-family: 'Abel'
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  margin-left: .25vw;
  height: 2vh;
  fill: var(--text-color);
  
  transition: transform .65s;
  
}

.footer img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
