:root {
  --hex-base: #000000;
  --rainbow-color: var(--hex-base);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 32px;
  font-weight: 900;
  margin: 10px;
}

#drawing-grid-container, #user-settings {
  border: 2px solid var(--hex-base);
  box-shadow: 0 0 12px var(--hex-base);
  border-radius: 4px;
  overflow: hidden;
}

/* GRID SETTINGS */ 
#drawing-grid-container {
  display: inline-grid;
  width: 350px;
  height: 350px;
}

.grid-size p, .color-setting p, .eraser p, .rainbow-setting p, .draw-mode p{
  margin: 5px 0;
}
/* GRID SETTINGS */ 


/* USER SETTINGS */ 
#user-settings {
  display: flex;
  border: 2px solid var(--hex-base);
  width: 75%;
  flex-wrap: wrap;
  
  /* Temporary */
  margin: 30px;
}

#user-settings .grid-size, .color-setting, .eraser, .rainbow-setting, .draw-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  flex: 1;
}

/* slider */
.grid-slider {
  appearance: none;
  background: rgb(209, 209, 209);
  opacity: 0.7;
  transition: opacity .2s, transform .2s;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px var(--hex-base);
}

.grid-slider:hover {
  opacity: .85;
  transform: scale(1.1);
}

.grid-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--hex-base);
  cursor: pointer;
}
/* slider */

/* color picker */
input[type="color"] {
  appearance: none;
  background: rgba(209, 209, 209, 0.932);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: transform .2s;
}

input[type="color"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  width: 90%;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
/* color picker */

/* checkbox */
.checkbox {
  display: block;
  height: 20px;
  width: 20px;
  background: var(--hex-base);
  opacity: .3;
  border-radius: 5px;
  border: 1px solid black;
  transition: transform .25s, background-color .25s;
  box-shadow: 1px 1px 3px var(--hex-base);
}

.checkbox:hover {
  opacity: .4;
  cursor: pointer;
}

.checkbox.pressing {
  opacity: .6;
  transform: scale(1.1);
}

.checkbox.active {
  opacity: .8;
  transform: scale(1.2);
}
/* checkbox */
.rainbow-setting .checkbox {
  background: var(--rainbow-color);
  box-shadow: 1px 1px 3px var(--rainbow-color);
}


/* rainbow */

/* rainbow */

/* USER SETTINGS */ 