body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GRID SETTINGS */ 
#drawing-grid-container {
  display: inline-grid;
  width: 350px;
  height: 350px;
  border: 2px solid black;
}

.grid-size p {
  margin: 5px 0;
}
/* GRID SETTINGS */ 


/* USER SETTINGS */ 
#user-settings {
  display: flex;
  border: 2px solid black;
  width: 75%;
  
  /* Temporary */
  margin-top: 10px;
  margin-bottom: 5px;
}

#user-settings .grid-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* slider */
.grid-slider {
  appearance: none;
  background: rgb(209, 209, 209);
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 5px;
  overflow: hidden;
}

.grid-slider:hover {
  opacity: .85;
}

.grid-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #3e04aa;
  cursor: pointer;
}
/* slider */
/* USER SETTINGS */ 