:root {
  --hex-base: #000000;
  --rainbow-color: var(--hex-base);
  --text-color: #ffffff;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #dddddd6e
}

#title {
  font-size: 32px;
  font-weight: 900;
  margin: 10px;
}

#drawing-grid-container, #user-settings {
  border: 2px solid var(--hex-base);
  box-shadow: 0 0 12px var(--hex-base);
  border-radius: 4px;
  overflow: hidden;
}

/* GRID SETTINGS */ 
#drawing-grid-container {
  display: inline-grid;
  width: 340px;
  height: 340px;
}

.container-holder {
  display: flex;
  align-self: center;
  margin: 0;
}

.grid-size p, .color-setting p, .eraser p, .rainbow-setting p, .draw-mode p,
.background-setting p
{
  margin: 0 0 5px;
  text-align: center;
}

.checkbox {
  margin: 0 0 2px;
}
/* GRID SETTINGS */ 


.middle {
  display: flex;
  width: 60%;
  align-items: center;
  margin: 10px 30px 30px;
}

.middle::after {
  content: '';
  flex-grow: 1;
  margin-left: 10px;
  margin-left: 15px;
}

.left-container {
  margin-right: 15px;
}

.middle .left-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  align-self: center;
}

.left-user-settings {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 2px solid var(--hex-base);
  box-shadow: 0 0 3px var(--hex-base);
  border-radius: 4px;
  background-color: white;
  
}

.bottom {
  width: 60%;
}

.bottom-user-settings {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--hex-base);
  box-shadow: 0 0 3px var(--hex-base);
  border-radius: 4px;
  background-color: white;
}

.grid-size, .color-setting, .eraser, .rainbow-setting, .draw-mode,
.background-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  flex: 1;
}

/* slider */
.grid-slider {
  appearance: none;
  background: rgb(209, 209, 209);
  opacity: 0.7;
  transition: opacity .2s, transform .2s;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px var(--hex-base);
}

.grid-slider:hover {
  opacity: .85;
  transform: scale(1.1);
}

.grid-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--hex-base);
  cursor: pointer;
}
/* slider */

/* color picker */
input[type="color"] {
  appearance: none;
  background: rgba(209, 209, 209, 0.932);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: transform .2s;
  box-shadow: 1px 1px 3px var(--hex-base);
}

input[type="color"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  width: 90%;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
/* color picker */

/* checkbox */
.checkbox {
  display: block;
  height: 20px;
  width: 20px;
  background: var(--hex-base);
  opacity: .3;
  border-radius: 5px;
  border: 1px solid black;
  transition: transform .25s, background-color .25s;
  box-shadow: 1px 1px 3px var(--hex-base);
}

.checkbox:hover {
  opacity: .4;
  cursor: pointer;
}

.checkbox.pressing {
  opacity: .6;
  transform: scale(1.1);
}

.checkbox.active {
  opacity: .8;
  transform: scale(1.2);
}
/* checkbox */
.rainbow-setting .checkbox {
  background: var(--rainbow-color);
  box-shadow: 1px 1px 3px var(--rainbow-color);
}

/* clear button */
.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 10px;
}

.clear-button {
  background-color: var(--hex-base);
  color: var(--text-color);
  padding: 4px 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px var(--hex-base);
  transition: transform .2s ease;
  user-select: none;
}

.clear-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.clear-button:active {
  transform: scale(1.15);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 14px;
  max-height: 40px;
  flex-grow: 1;
  background-color: var(--hex-base);
  opacity: .8;
  color: var(--text-color)
}

.footer p {
  display: flex;
  font-size: 13px;
}
.footer img {
  margin-left: 4px;
  height: 12px;
  fill: var(--text-color);
  align-self: center;
}

.footer img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
